/* Add spacing below the Projects section */
.sec4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;   /* Let content grow beyond screen if needed */
    padding-top: 20px;
    padding-bottom: 60px; /* Add space below the projects */
    margin-top: 400px;
}

.sec-4-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-4-1>:nth-child(1) {
    font-weight: 600;
}

.sec-4-2 {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    
    gap: 50px;
    padding:50px 50px;
    /* width:90vw; */
   
}

.box3 {
    width: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    gap: 15px;
    box-shadow: 5px 5px 10px black;

}

.box3 img {
    width: 250px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 4px;
}

.box3-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.box3-2>:nth-child(1) {
    font-size: 22px;
    font-weight: 600;
}

@media(max-width:1024px) {
    .sec4{
        height: 100%;
    }
    .sec-4-2 {
        flex-direction: column;
        gap: 50px;
        padding-bottom: 50px;
    }
     .sec4 {
        padding: 60px 20px;
    }
    .box3 {
        width: 500px;
        gap: 20px;

    }

    .box3 img {
        width: 400px;
    }

    .box3-2>:nth-child(1) {
        font-size: 30px;
        font-weight: 600;
    }
}

@media(max-width: 1024px) {
  .sec-4-2 {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 50


    .box3 {
        width: 300px;
        gap: 15px;

    }

    .box3 img {
        width: 250px;
    }

    .box3-2>:nth-child(1) {
        font-size: 20px;
    }
}